.banner {
    text-align: right;
    padding: 216px 230px 364px 945px;
    background-image: url('images/banner/banner3.png');
    background-size: cover;



}

.banner-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.btn-1 {
    padding: 20px 25px;
    border-radius: 5px;
    background: #FFF;
}

.btn-1text {
    color: #005FAC;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.body-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 50px;
}

.body-text-title {
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.body-text-description {
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
    color: rgb(8, 236, 8);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding: 0 15px 0 0;

}





.plan-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.heading {
    text-align: center;
    padding: 56px;
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-title {
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.plan-description {
    color: var(--dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
}

.linear {
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    align-items: center;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    margin: 100px 100px 100px 400px;
    border-radius: 8px;
}

.linear-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    padding: 59px 617px 10px 64px;
}

.linear-btn {
    border-radius: 5px;
    background: #FFF;
    margin-top: 0px;
    margin: 10px 10px 10px 70px;
    padding: 10px 15px;

}

.linear-btn-text {
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 26px;

}



.footer-container {
    background-color: #151414;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.future-title {
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.future-description {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.subscribe-title {
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.subscribe-btn {
    border-radius: 8px;
background: #005FAC;
padding: 20px 25px;
flex-shrink: 0;
}
.email{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    padding: 30px 35px;
    margin: 20px 25px;
}
